.navbar-light {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-light .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-light .navbar-brand img {
    width: 40px;
  }

  .style-image{
      height: 50px;
      border-radius: 50%;
  }
  