// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .container{
    max-width: 700px;
  }
  body{
    background: #eeedec;
    font-size: 1em;
    font-family: "Courier New", Courier, monospace;
  }
  .card{
    max-width: 700px;
  }

  a {
    color: grey;
  }

  
  